@font-face {
    font-family: AssistantBold;
    src: url("/src/public/fonts/static/Assistant-Bold.ttf") format("truetype");
}
@font-face {
    font-family: AssistantRegular;
    src: url("/src/public/fonts/static/Assistant-Regular.ttf") format("truetype");
}


$bold: "font-family", AssistantBold;
$regular: "font-family", AssistantRegular;

$white: #f7f9ff;
$blue: #204561;