@use "/src/styles/variables" as v;

* {
    box-sizing: border-box;
    max-width: 100%;
}

body {
    background-color: v.$white;
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1vw;
        animation: fadeUp 2s 1 both;
        animation-delay: 5s;
        padding-top: 2vw;
        @keyframes fadeUp {
            from{
                opacity: 0;
                transform: translateY(2vw);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
    .server-container {
        .statusIcon {
            height: 100%;
            width: 100%;
            padding: 0.5vw;
            img{
            width: 100%;
            height: 100%;
        }
        }
        margin-top: 5vw;
        border-top:  1px v.$blue solid;
        .server {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            align-items: center;
            border: 1px v.$blue solid;
            border-left: none;
            border-right: none;
            border-top: none;
            font-family: v.$bold;
            font-size: 0.7vw;
            opacity: 0;
            animation: rippleFade 1.5s 1 both;
      @for $i from 1 through 10 {
        &:nth-child(#{$i + 1}) {
          animation-delay: #{$i * 0.15}s;
        }
      }
            .server-status {
                height: 50px;
                width: 50px;
                background-size: auto;
            }
        }

    }
}

@keyframes rippleFade {
    to {
      opacity: 1;
    }
  }
